<h1><%= @musician.name %></h1>
<h3>Bands:</h3>
<div class="col-md-3">
<table>
  <% @musician.bands.each do |band| %>
    <tr>
      <td><a href="<%= band_path(band) %>"><%= band.name %></a></td>
    </tr>
  <% end %>
</table>

<a href="<%= new_band_membership_path %>" type="button" class="btn btn-success btn-block">Add This Musician To A Band!</a>

<a href="<%= musicians_path %>" type="button" class="btn btn-success btn-block">Back To Musicians</a>
</div>
