
<div class="col-md-12">
<div class="row">
<h1 style="color: white;">welcome to tunr</h1>

</div>
</div>
<div class="col-md-2">

<a href="<%= new_band_path %>" type="button" class="btn btn-danger btn-sm btn-block">Create New Band</button></a>
<a href="<%= bands_path %>" type="button" class="btn btn-danger btn-sm btn-block">See All Bands</button></a>
<a href="<%= new_musician_path %>" type="button" class="btn btn-warning btn-sm btn-block">Create New Musician</button></a>
<a href="<%= musicians_path %>" type="button" class="btn btn-warning btn-sm btn-block">See All Musicians</button></a>
<a href="<%= new_band_membership_path %>" type="button" class="btn btn-success btn-sm btn-block">Add Musicians To A Band</button></a>
</div>
</div>
</div>






