<h1 style="color:white;">Bands</h1>
<div class="col-md-3">
<table class="table">
  <% @bands.each do |band| %>
    <tr class="band_<%= band.id %>">
      <td><a href="<%= band_path(band) %>"><%= band.name %></td>
      <td>
        <form action="<%= band_path(band) %>" method="post">
          <input type="hidden" value="delete" name="_method">
          <button class="delete btn-link">DELETE</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= root_path %>" type="button" class="btn btn-success">Back To Home</a>
</div>
